<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutismAllyship">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PlaceholderActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ResourceDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EventDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EventRegistrationActivity"
            android:exported="false"
            android:parentActivityName=".EventDetailActivity" />
        <activity
            android:name=".BlogActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BlogArticleActivity"
            android:exported="false"
            android:parentActivityName=".BlogActivity" />
        <activity
            android:name=".MyTicketsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BreathingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PopItActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- Exported because the whole point is that the link in the confirmation email opens
             here. autoVerify is deliberately left off until the signing certificate fingerprints
             are in Firebase and assetlinks.json is on the site, see CONSOLE-STEPS.md: with
             autoVerify on and verification failing, Android 12 and later stop offering the app at
             all, which is worse than the chooser we get without it. -->
        <activity
            android:name=".TicketDetailActivity"
            android:exported="true"
            android:parentActivityName=".MyTicketsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="autism-allyship.pages.dev" />
                <data android:host="*.autism-allyship.pages.dev" />
                <data android:path="/ticket.html" />
            </intent-filter>
        </activity>
    </application>

</manifest>
